<div>
	<h1>Are you sure you want to delete this image?</h1>
	<form action="<%= url '/images' %>" method="post" enctype="multipart/form-data">
		<input type="file" name="file" />
		<input type="submit" name="Done" value="Done" />
	</form>
</div>