<div>
	<h1>Help</h1>
	<div>
		<p>PhotoForge is an app that allows you to make your photos awesome by applying a wide variety of filters to them!</p>
	</div>
	<div>
		<b>Frequently Asked Questions</b>
		<ul>
			<li>Q: How can I download my photo to my phone?</li>
			<li>A: PhotoForge only allows you to save your image to your Mxit Gallery, but you can easily download the image to your phone from there. Go to your Forge and select 'Save to Gallery' for a particular photo. After it's been saved, go to the 'Gallery' contact in Mxit and look for the 'PhotoForge' folder. Open the image your want to save and click 'Get (download). This will download the image to your phone.</li>
		</ul>
		<br />
		<ul>
			<li>Q: Can I mix filters?</li>
			<li>A: Yes! Do the first filter, save it to your Mxit Gallery and download it to your phone. Once it's been downloaded you can apply another PhotoForge filter to it!</li>
		</ul>
		<br />		
	</div>

	<div>
	<b>News and announcements</b>
		<ul>
			<li>04-06-2013: Welcome to PhotoForge!</li>
		</ul>
	</div>
	<br />
	<div>
		<b>Contact</b>
		<p> Please feel free to give feedback to the developers! <a href="/feedback">Send a message through the app</a> or add <b>teamglio</b> as a contact in Mxit to chat.</p>
	</div>
</div>