<div>
	<div>
		<p style="color:#319439;"><b>Announcement:</b> Mxit has made some changes on their system and this has affected the ability to upload your photos to your gallery. Hopefully this will be sorted out quickly. We apologise for the inconvenience.</p>
	</div>	
	<div>
		<p>> <a href='<%= url '/images/upload' %>'>New Photo</a> - Make your own photo</p>
		<p>> <a href='<%= url '/stream' %>'>Public Stream</a> - Share photos with your friends in the Public Stream</p>		
		<p>> <a href='<%= url '/images' %>'>My Forge</a> - Your photos</p>
		<p>> <a href='<%= url '/credits' %>'>Get Credits</a> - Get more credits</p>
	<div>
</div>