<div>
	<div>
		<b>Welcome to PhotoForge, a new app that allows you to make your photos <span style="color:#FF0000">awesome</span> by applying a wide variety of filters to them! Try making one <a href='<%= url '/images/upload' %>'>now</a>!</b>
	</div>
	<div>
		<ul>
			<li><a href='<%= url '/images/upload' %>'>New Photo</a></li>
			<li><a href='<%= url '/images' %>'>My Forge</a></li>
			<li><a href='<%= url '/credits' %>'>Get Credits</a></li>
		</ul>
	<div>
</div>