<div>
	<div>
		<p style="color:#67E01B;"><b>New:</b> You can now <i>like</i> photos in the Stream! :)</p>
	</div>	
	<div>
		<p>> <a href='<%= url '/images/upload' %>'>New Photo</a> - Make your own photo</p>
		<p>> <a href='<%= url '/stream' %>'>Public Stream</a> - Share photos with your friends in the Public Stream</p>		
		<p>> <a href='<%= url '/images' %>'>My Forge</a> - Your photos</p>
		<p>> <a href='<%= url '/credits' %>'>Get Credits</a> - Get more credits</p>
	<div>
</div>