<div>
	<ul>
		<li><a href='<%= url '/images/upload' %>'>New Photo</a></li>
		<li><a href='<%= url '/images' %>'>My Forge</a></li>
		<li><a href='<%= url '/credits' %>'>Get Credits</a></li>
	</ul>
<div>