<div>
	<% @images.each do |image| %>
		<div>
			<img src= <%= image.image.url %> width='300px' />
			<a href= <%= url '/images/save/confirm/' + image.id.to_s %>>Save to Gallery</a> | <a href= <%= url '/images/delete/confirm/' + image.id.to_s %>>Delete</a>
		</div>
		<br />
	<% end %>
</div>	