<div>
	<h1>Step 3: Your photo</h1>
	<div>
		<img src= <%= @image.image.url %> width='auto' height='100%' />
		<a href= <%= url '/images/save/confirm/' + @image.id.to_s %>>Save to Gallery</a> | <a href= <%= url '/images/delete/confirm/' + @image.id.to_s %>>Delete</a>
		<p>Your photo has automatically been saved to your <a href=<%= url '/images' %>>Forge</a>.</p>
	</div>
	<br />
</div>	