<p>Write <b>MIDDLE</b> text:</p>
<form action="/images/filter/supertext/middle-text" method="post" enctype="multipart/form-data">
	<input type="text" name="supertext_middle_text" />
	<input type="submit" name="Done" value="Done" />
</form>