<p>Choose a text <b>font</b>:</p>
<ul>
	<li><a href="<%= url url '/images/filter/supertext/text-font?font=serif' %>">Serif</a></li>
	<li><a href="<%= url '/images/filter/supertext/text-font?font=sans-serif' %>">Sans-Serif</a></li>
	<li><a href="<%= url '/images/filter/supertext/text-font?font=monospace' %>">Monospace</a></li>				
</ul>
