<p>Write <b>BOTTOM</b> text:</p>
<form action="/images/filter/text/bottom-text" method="post" enctype="multipart/form-data">
	<input type="text" name="text_bottom_text" />
	<input type="submit" name="Done" value="Done" />
</form>