<p>Write <b>TOP</b> text:</p>
<form action="/images/filter/text/top-text" method="post" enctype="multipart/form-data">
	<input type="text" name="text_top_text" />
	<input type="submit" name="Done" value="Done" />
</form>