<div>
	<h1>Step 1: Take or upload a photo. </h1>
	<form action="<%= url '/images' %>" method="post" enctype="multipart/form-data">
		<input type="file" name="file" />
		<input type="submit" name="Done" value="Done" />
	</form>
</div>